<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

        <property name="connection.url">jdbc:mysql://localhost:3306/test</property>
        <property name="connection.username">admin</property>
        <property name="connection.password"></property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- hibernate comenta o que esta fazendo -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="use_sql_comments">true</property>

        <!-- validate the schema, makes no changes to the database. -->
        <property name="hbm2ddl.auto">validate</property>


        <!-- Mapping classes -->
        <mapping class="br.edu.ufcg.reuml.profiles.UMLProfile" />
        <mapping class="br.edu.ufcg.reuml.profiles.ClassDiagramProfile" />
        <mapping class="br.edu.ufcg.reuml.profiles.SequenceDiagramProfile" />
        <mapping class="br.edu.ufcg.reuml.diagrams.UMLDiagram" />
        <mapping class="br.edu.ufcg.reuml.diagrams.ClassDiagram" />
        <mapping class="br.edu.ufcg.reuml.diagrams.SequenceDiagram" />

    </session-factory>
</hibernate-configuration>